html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* remember to define visible focus styles! 
:focus {
	outline: ?????;
} */
/* remember to highlight inserts somehow! */
ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'pnc_sans_regularregular';
  src: url("../fonts/pncsans-regular-webfont.woff2") format("woff2"), url("../fonts/pncsans-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'pnc_sans_boldbold';
  src: url("../fonts/pncsans-bold-webfont.woff2") format("woff2"), url("../fonts/pncsans-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'pnc_sanslight';
  src: url("../fonts/pncsans-light-webfont.woff2") format("woff2"), url("../fonts/pncsans-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'pnc_sansmedium';
  src: url("../fonts/pncsans-medium-webfont.woff2") format("woff2"), url("../fonts/pncsans-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

html {
  height: 100%; }

body.pnc {
  min-height: 100%;
  font-family: "pnc_sans_regularregular", sans-serif; }
  body.pnc .pnc-container,
  body.pnc footer .row {
    width: 100%; }
  body.pnc main.container-fluid {
    padding: 0; }
    body.pnc main.container-fluid .row.holder {
      background: #f15f24;
      /* Old browsers */
      background: -moz-linear-gradient(top, #f15f24 0%, #f58025 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(top, #f15f24 0%, #f58025 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, #f15f24 0%, #f58025 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f15f24', endColorstr='#f58025',GradientType=0 );
      /* IE6-9 */ }
    body.pnc main.container-fluid .one {
      padding: 0;
      background: none; }
      body.pnc main.container-fluid .one div {
        padding: 0; }
    body.pnc main.container-fluid .holder .pnc-container {
      margin: 8em auto 0;
      float: none;
      max-width: 775px; }
      body.pnc main.container-fluid .holder .pnc-container .icon,
      body.pnc main.container-fluid .holder .pnc-container .reward {
        min-height: 225px;
        display: table-cell;
        vertical-align: middle; }
      body.pnc main.container-fluid .holder .pnc-container header h1 {
        color: #fff;
        font-size: 5.8em;
        letter-spacing: -6px;
        line-height: 0.75;
        text-align: left;
        text-transform: uppercase;
        font-family: "pnc_sanslight", sans-derif;
        font-weight: 300; }
        body.pnc main.container-fluid .holder .pnc-container header h1 span {
          font-size: 1em;
          line-height: 1.1; }
          body.pnc main.container-fluid .holder .pnc-container header h1 span i {
            text-transform: none; }
      body.pnc main.container-fluid .holder .pnc-container header p {
        color: #005288;
        text-align: left;
        margin-top: 0.3em;
        margin-bottom: 1.4em;
        font-size: 1.221em; }
      body.pnc main.container-fluid .holder .pnc-container .reward-header h1 {
        line-height: 1.05;
        margin-bottom: 0.3em;
        text-align: center; }
        body.pnc main.container-fluid .holder .pnc-container .reward-header h1 i {
          text-transform: none; }
      body.pnc main.container-fluid .holder .pnc-container .reward {
        text-align: center;
        font-size: 5em;
        line-height: 1.1;
        color: #005288; }
        body.pnc main.container-fluid .holder .pnc-container .reward p {
          top: 0.5em;
          position: relative;
          letter-spacing: -4px; }
      body.pnc main.container-fluid .holder .pnc-container .row.form-cont {
        background: #fff;
        padding-top: 3.5em; }
        body.pnc main.container-fluid .holder .pnc-container .row.form-cont form {
          padding-left: 28px;
          padding-right: 0; }
          body.pnc main.container-fluid .holder .pnc-container .row.form-cont form input.form-control {
            color: #939598;
            border: 2px solid #939598;
            border-radius: 0;
            box-shadow: none;
            height: auto;
            padding: 5px 12px;
            line-height: 2; }
          body.pnc main.container-fluid .holder .pnc-container .row.form-cont form label {
            font-size: 18px;
            text-align: center;
            color: #f58025;
            margin: 0 auto 0.2em;
            display: block; }
          body.pnc main.container-fluid .holder .pnc-container .row.form-cont form .one .code {
            padding-right: 1em; }
          body.pnc main.container-fluid .holder .pnc-container .row.form-cont form .one,
          body.pnc main.container-fluid .holder .pnc-container .row.form-cont form .two {
            min-width: 524px; }
          body.pnc main.container-fluid .holder .pnc-container .row.form-cont form .two > div {
            padding: 0;
            padding-right: 1em;
            padding-top: 0.5em;
            margin-bottom: 28px; }
            body.pnc main.container-fluid .holder .pnc-container .row.form-cont form .two > div:last-child {
              padding-right: 0; }
        body.pnc main.container-fluid .holder .pnc-container .row.form-cont .icon {
          position: relative;
          padding-left: 30px;
          padding-right: 21px; }
          body.pnc main.container-fluid .holder .pnc-container .row.form-cont .icon img {
            top: 7px;
            position: relative;
            width: 100%;
            max-width: 143px; }
        body.pnc main.container-fluid .holder .pnc-container .row.form-cont .footer {
          display: table-cell;
          width: 100%;
          height: 90px;
          background: #f0f1f1;
          font-family: "pnc_sansmedium", sans-serif;
          display: block;
          vertical-align: middle;
          padding: 1.5em 2.6em;
          line-height: 1.4;
          min-height: 92px; }
          body.pnc main.container-fluid .holder .pnc-container .row.form-cont .footer p {
            color: #f58025;
            letter-spacing: 0.2px; }
      body.pnc main.container-fluid .holder .pnc-container button {
        border-radius: 0;
        background: #f58025;
        color: #fff;
        float: left;
        letter-spacing: 1px;
        margin-right: 2em;
        margin-bottom: 1em;
        padding: 10px 24px;
        -moz-transition: background 0.2s linear;
        -o-transition: background 0.2s linear;
        -ms-transition: background 0.2s linear;
        -webkit-transition: background 0.2s linear;
        transition: background 0.2s linear; }
        body.pnc main.container-fluid .holder .pnc-container button:hover {
          background: #dd660a; }
      body.pnc main.container-fluid .holder .pnc-container .arch-text {
        text-align: center;
        display: block;
        position: relative;
        top: -65px;
        left: -4%;
        transform: rotate(-15deg);
        font-weight: 800; }
        body.pnc main.container-fluid .holder .pnc-container .arch-text:hover {
          background: none; }
          body.pnc main.container-fluid .holder .pnc-container .arch-text:hover span {
            color: #001522;
            background: none; }
      body.pnc main.container-fluid .holder .pnc-container .arch-text span {
        font-family: "pnc_sansmedium", sans-serif;
        color: #005288;
        font-size: 18px;
        height: 90px;
        position: absolute;
        width: 10px;
        left: 50%;
        top: 100%;
        text-align: center;
        transform-origin: top center;
        display: flex;
        align-items: flex-end; }
      body.pnc main.container-fluid .holder .pnc-container .char1 {
        transform: rotate(40deg); }
      body.pnc main.container-fluid .holder .pnc-container .char2 {
        transform: rotate(32deg); }
      body.pnc main.container-fluid .holder .pnc-container .char3 {
        transform: rotate(28deg); }
      body.pnc main.container-fluid .holder .pnc-container .char4 {
        transform: rotate(25deg); }
      body.pnc main.container-fluid .holder .pnc-container .char5 {
        transform: rotate(19deg); }
      body.pnc main.container-fluid .holder .pnc-container .char6 {
        transform: rotate(10deg); }
      body.pnc main.container-fluid .holder .pnc-container .char7 {
        transform: rotate(10deg); }
      body.pnc main.container-fluid .holder .pnc-container .char8 {
        transform: rotate(1deg); }
      body.pnc main.container-fluid .holder .pnc-container .char9 {
        transform: rotate(-5.5deg); }
      body.pnc main.container-fluid .holder .pnc-container .char10 {
        transform: rotate(-11deg); }
    body.pnc main.container-fluid .holder #shop .icon {
      padding-right: 0;
      padding-left: 50px; }
    body.pnc main.container-fluid .holder #shop .form-cont {
      padding-top: 5.5em; }
  body.pnc footer {
    background: #5b6771;
    padding: 72px 0 92px; }
    body.pnc footer .row {
      margin: 0 auto;
      max-width: 745px; }
      body.pnc footer .row > div:last-child {
        padding: 0; }
        body.pnc footer .row > div:last-child img {
          float: right; }
    body.pnc footer .bottom {
      color: #fff;
      font-family: "pnc_sansmedium", sans-serif;
      padding: 0; }
      body.pnc footer .bottom p {
        line-height: 1.6; }
      body.pnc footer .bottom ul {
        margin-top: 2.2em; }
        body.pnc footer .bottom ul li {
          display: inline-block;
          float: left;
          line-height: 1;
          padding: 0 0.6em;
          border-right: 1px solid #fff; }
          body.pnc footer .bottom ul li:last-child {
            border: none; }
          body.pnc footer .bottom ul li:first-child {
            padding-left: 0; }
    body.pnc footer a {
      color: #fff; }

.msg {
  padding-bottom: 0.3em;
  color: red;
  display: none; }

.inactive {
  background: #939598;
  color: #939598;
  cursor: none; }
